extends ../layout

block content
  .container.content-border
    ul(id="tables", class="list-group")
    each val in tables
      li.list-group-item
        h4.titles
          a.preview(href="https://echartz.herokuapp.com/tables/" + val.id)= val.name
        link(href='/stylesheets/image-preview-for-link.css', rel='stylesheet')
        script(type='text/javascript').
          $(function() {
          $('.preview').miniPreview({ prefetch: 'parenthover' });
          });
        script(src='/javascripts/image-preview-for-link.js')
        form#delete(action=`/tables/${val.id}?_method=delete` method='post' style="float:right")
          button.deleteBtn(type="submit")
            i(class="fa fa-trash", aria-hidden="true")
