extends ../layout

block content
  ul(id="tables")
  each val in tables
    li
      h4.titles
        a.preview(href="http://localhost:3000/tables/" + val.id)= val.name
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
      link(href='http://codegena.com/assets/css/image-preview-for-link.css', rel='stylesheet')
      script(type='text/javascript').
        $(function() {
        $('.preview').miniPreview({ prefetch: 'parenthover' });
        });
      script(src='http://codegena.com/assets/js/image-preview-for-link.js')
      form#delete(action=`/tables/${val.id}?_method=delete` method='post')
        button.deleteBtn(type="submit")
          i(class="fa fa-trash", aria-hidden="true")
