extends ../layout

block content
  span Name:
  input(id="tableName",type="text")
  div(id="example2",class="hot handsontable htColumnHeaders htRemoveRow")
  br
  button#save.btn.btn-default Save
  button#delete DeleteRow
  br
  ul(id="tables")
  each val in tables
    li
      a(href="http://localhost:3000/tables/"+val)= val
