extends ../layout

block content
  div(id="areachart", value=table_data)
  div(id="linechart", value=table_data)
  span Table Name:
  div(id="chart-name", value=table_name)
  input(id="tableName",type="text", value=table_name )
  div(id="newTable", class="hot handsontable htColumnHeaders htRemoveRow")

  button#update.btn.btn-default Update
