extends layout

block content
  div(class="hero")
    div(class="container")
      div(class="row")
        div(class="col-xs-12")
          img.background(src="images/logo-white.png")
          div#signup
            a(href="users/signup", style="text-decoration:none; color:white; font-size:20px")= "Sign Up Today!"
