extends layout

block content
  div(class="hero")
    div(class="container")
      div(class="row")
        div(class="col-xs-12")
          img.background(src="images/logo-white.png")
          div(style="text-align:center; color:white; font-size:20px; margin:5%;") Easiest way to store your table and 2D charts
          if login
            div#signup(style="height:100px;")
              a(href="tables/new", style="text-decoration:none; color:white; font-size:23.5px")= "Create your chart"
          else
            div#signup(style="height:100px;")
              a(href="tables/57e1bb3551bcf6f23fc7a1ec", style="text-decoration:none; color:white; font-size:23.5px")= "Try it now!"
