doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', type="text/css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')

    script(src='http://docs.handsontable.com/0.26.1/scripts/jquery.min.js')
    script(src='http://docs.handsontable.com/0.26.1/bower_components/handsontable/dist/handsontable.full.js')

    link(type='text/css', rel='stylesheet', href='http://docs.handsontable.com/0.26.1/bower_components/handsontable/dist/handsontable.full.min.css')

    script(src='http://code.jquery.com/jquery.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')

    script(src="https://code.highcharts.com/stock/highstock.js")
    script(src="https://code.highcharts.com/stock/modules/exporting.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.2.6/js/hopscotch.min.js")
    link(type='text/css', rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.2.6/css/hopscotch.css")

    script(src='/javascripts/fb_login.js')
    script(src='/javascripts/handsontable.js')
    script(src='/javascripts/main.js')

  body
    div(class="main-container")
      div(class="header clearfix")
        nav
          div(class="container")
            ul(class="nav nav-pills pull-right")
              li(role="presentation")
                a(href="/stock") Live Stock
              if login
                li(role="presentation")
                  a(href="/tables") Your Charts
                li(role="presentation")
                  a(href="/tables/new") New Chart
                li(role="presentation")
                  a(href="/users/signout") Logout
              else
                li(role="presentation")
                  a(href='#', data-toggle='modal', data-target='#login-modal') Login
                li(role="presentation")
                  a(href="/users/signup") Register
            a(href="/", style="text-decoration: none;")
              img(src="http://localhost:3000/images/logo.png", style="height:40px; width:100px")
        include ./login.pug
      div(class="content")
        block content
      footer(class="footer container")
        p &copy; 2016 Wilson
