doctype html
html
  head
    title= 'eChartz'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', type="text/css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')

    script(src='/javascripts/handsontable-jquery.js')
    script(src='/javascripts/handsontable-bower-components.js')

    link(type='text/css', rel='stylesheet', href='/stylesheets/handsontable.css')

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')

    script(src="/javascripts/highstock-jquery.js")
    script(src="/javascripts/highstock-export.js")

    script(src="/javascripts/hopscotch.js")
    link(type='text/css', rel='stylesheet', href="/stylesheets/hopscotch.css")

    script(src='/javascripts/fb_login.js')
    script(src='/javascripts/handsontable.js')
    script(src='/javascripts/main.js')

  body
    div(class="main-container")
      div(class="header clearfix")
        nav
          div(class="container")
            ul(class="nav nav-pills pull-right")
              li(role="presentation")
                a(href="/stock") Live Stock
              if login
                li(role="presentation")
                  a(href="/tables") Your Charts
                li(role="presentation")
                  a(href="/tables/new") New Chart
                li(role="presentation")
                  a(href="/users/signout") Logout
              else
                li(role="presentation")
                  a(href='#', data-toggle='modal', data-target='#login-modal') Login
                li(role="presentation")
                  a(href="/users/signup") Register
            a(href="/", style="text-decoration: none;")
              img(src="https://echartz.herokuapp.com/images/logo.png", style="height:40px; width:100px")
        include ./login.pug
      div(class="content")
        block content
      footer(class="footer container")
        div#sample-account(style="float:right;")
          p(style="text-decoration:underline;") Sample Account Information
          p Email: 123@gmail.com
          p Password: 123
        p &copy; 2016 Wilson
