doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', type="text/css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')

    script(src='http://docs.handsontable.com/0.16.1/scripts/jquery.min.js')
    script(src='http://docs.handsontable.com/0.16.1/bower_components/handsontable/dist/handsontable.full.js')
    link(type='text/css', rel='stylesheet', href='http://docs.handsontable.com/0.16.1/bower_components/handsontable/dist/handsontable.full.min.css')
    script(src='http://docs.handsontable.com/0.16.1/scripts/removeRow-demo/handsontable.removeRow.js')
    link(rel='stylesheet', href='http://docs.handsontable.com/0.16.1/scripts/removeRow-demo/handsontable.removeRow.css')


    script(src='http://code.jquery.com/jquery.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')

    script(src="https://code.highcharts.com/highcharts.js")
    script(src="https://code.highcharts.com/modules/exporting.js")


    script(src='/javascripts/fb_login.js')
    script(src='/javascripts/handsontable.js')
    script(src='/javascripts/linechart.js')
    script(src='/javascripts/main.js')


  body
    div(class="container main-container")
      div(class="header clearfix")
        nav
          ul(class="nav nav-pills pull-right")
            li(role="presentation")
              a(href="/") Home
            li(role="presentation")
              a(href="#") Contact
            if login
              li(role="presentation")
                a(href="/users/signout") Logout
            else
              li(role="presentation")
                a(href="/users/login") Login
              li(role="presentation")
                a(href="/users/signup") Register
          a(href="/", style="text-decoration: none;")
            h3(class="text-muted") eCharts
      div(class="row")
        div(class="col-lg-12")
          block content
      footer(class="footer")
        p &copy; 2016 Wilson
